In [1]:
# BASE
# ------------------------------------------------------
import numpy as np
import pandas as pd
import os
import gc
import warnings

# PACF - ACF
# ------------------------------------------------------
import statsmodels.api as sm

# DATA VISUALIZATION
# ------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


# CONFIGURATIONS
# ------------------------------------------------------
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.2f}'.format
warnings.filterwarnings('ignore')

In [2]:
# Import
train = pd.read_csv("dataset/train.csv")
test = pd.read_csv("dataset/test.csv")
stores = pd.read_csv("dataset/stores.csv")
#sub = pd.read_csv("../input/store-sales-time-series-forecasting/sample_submission.csv")   
transactions = pd.read_csv("dataset/transactions.csv").sort_values(["store_nbr", "date"])


# Datetime
train["date"] = pd.to_datetime(train.date)
test["date"] = pd.to_datetime(test.date)
transactions["date"] = pd.to_datetime(transactions.date)

# Data types
train.onpromotion = train.onpromotion.astype("float16")
train.sales = train.sales.astype("float32")
stores.cluster = stores.cluster.astype("int8")

train.head()

   id       date  store_nbr      family  sales  onpromotion
0   0 2013-01-01          1  AUTOMOTIVE   0.00         0.00
1   1 2013-01-01          1   BABY CARE   0.00         0.00
2   2 2013-01-01          1      BEAUTY   0.00         0.00
3   3 2013-01-01          1   BEVERAGES   0.00         0.00
4   4 2013-01-01          1       BOOKS   0.00         0.00

## EACH STORE NBR USED AS A FEATURE

In [12]:
transactions

            date  store_nbr  transactions
1     2013-01-02          1          2111
47    2013-01-03          1          1833
93    2013-01-04          1          1863
139   2013-01-05          1          1509
185   2013-01-06          1           520
...          ...        ...           ...
83271 2017-08-11         54           768
83325 2017-08-12         54           903
83379 2017-08-13         54          1054
83433 2017-08-14         54           818
83487 2017-08-15         54           802

[83488 rows x 3 columns]

In [17]:
transactions.isna().sum()

date            0
store_nbr       0
transactions    0
dtype: int64

In [13]:
transactions.groupby(["store_nbr"]).count()

           date  transactions
store_nbr
1          1676          1676
2          1677          1677
3          1676          1676
4          1676          1676
5          1677          1677
6          1676          1676
7          1675          1675
8          1676          1676
9          1676          1676
10         1675          1675
11         1676          1676
12         1616          1616
13         1676          1676
14         1638          1638
15         1676          1676
16         1677          1677
17         1674          1674
18         1566          1566
19         1676          1676
20          909           909
21          748           748
22          671           671
23         1677          1677
24         1577          1577
25         1615          1615
26         1678          1678
27         1677          1677
28         1677          1677
29          874           874
30         1655          1655
31         1678          1678
32         1677          1677
33         1678          1678
34         1678          1678
35         1676          1676
36         1551          1551
37         1678          1678
38         1678          1678
39         1678          1678
40         1677          1677
41         1677          1677
42          720           720
43         1672          1672
44         1677          1677
45         1677          1677
46         1677          1677
47         1677          1677
48         1677          1677
49         1677          1677
50         1677          1677
51         1677          1677
52          118           118
53         1167          1167
54         1676          1676

In [11]:
df_transactions = 
for store in transactions.store_nbr.unique():
    df_each_store = transactions[transactions["store_nbr"] == store]
    print(df_each_store)

            date  store_nbr  transactions
1     2013-01-02          1          2111
47    2013-01-03          1          1833
93    2013-01-04          1          1863
139   2013-01-05          1          1509
185   2013-01-06          1           520
...          ...        ...           ...
83218 2017-08-11          1           570
83272 2017-08-12          1          1004
83326 2017-08-13          1           416
83380 2017-08-14          1          1733
83434 2017-08-15          1          1693

[1676 rows x 3 columns]
            date  store_nbr  transactions
2     2013-01-02          2          2358
48    2013-01-03          2          2033
94    2013-01-04          2          2066
140   2013-01-05          2          2062
186   2013-01-06          2          1992
...          ...        ...           ...
83219 2017-08-11          2          1698
83273 2017-08-12          2          1613
83327 2017-08-13          2          1658
83381 2017-08-14          2          1788
83435 2017-08-15          2          1737

[1677 rows x 3 columns]
            date  store_nbr  transactions
3     2013-01-02          3          3487
49    2013-01-03          3          3026
95    2013-01-04          3          3188
141   2013-01-05          3          3623
187   2013-01-06          3          3590
...          ...        ...           ...
83220 2017-08-11          3          2991
83274 2017-08-12          3          3070
83328 2017-08-13          3          3075
83382 2017-08-14          3          3036
83436 2017-08-15          3          2956

[1676 rows x 3 columns]
            date  store_nbr  transactions
4     2013-01-02          4          1922
50    2013-01-03          4          1551
96    2013-01-04          4          1596
142   2013-01-05          4          1825
188   2013-01-06          4          1891
...          ...        ...           ...
83221 2017-08-11          4          1301
83275 2017-08-12          4          1304
83329 2017-08-13          4          1378
83383 2017-08-14          4          1285
83437 2017-08-15          4          1283

[1676 rows x 3 columns]
            date  store_nbr  transactions
5     2013-01-02          5          1903
51    2013-01-03          5          1740
97    2013-01-04          5          1642
143   2013-01-05          5          1643
189   2013-01-06          5          1754
...          ...        ...           ...
83222 2017-08-11          5          1183
83276 2017-08-12          5          1061
83330 2017-08-13          5          1098
83384 2017-08-14          5          1225
83438 2017-08-15          5          1310

[1677 rows x 3 columns]
            date  store_nbr  transactions
6     2013-01-02          6          2143
52    2013-01-03          6          1795
98    2013-01-04          6          1679
144   2013-01-05          6          2154
190   2013-01-06          6          2313
...          ...        ...           ...
83223 2017-08-11          6          1747
83277 2017-08-12          6          1706
83331 2017-08-13          6          1781
83385 2017-08-14          6          1593
83439 2017-08-15          6          1589

[1676 rows x 3 columns]
            date  store_nbr  transactions
7     2013-01-02          7          1874
53    2013-01-03          7          1568
99    2013-01-04          7          1513
145   2013-01-05          7          1599
191   2013-01-06          7          1431
...          ...        ...           ...
83224 2017-08-11          7          1541
83278 2017-08-12          7          1612
83332 2017-08-13          7          1410
83386 2017-08-14          7          1793
83440 2017-08-15          7          1780

[1675 rows x 3 columns]
            date  store_nbr  transactions
8     2013-01-02          8          3250
54    2013-01-03          8          2904
100   2013-01-04          8          2962
146   2013-01-05          8          3060
192   2013-01-06          8          2748
...          ...        ...           ...
83225 2017-08-11          8          2212
83279 2017-08-12          8          2463
83333 2017-08-13          8          2355
83387 2017-08-14          8          2723
83441 2017-08-15          8          2621

[1676 rows x 3 columns]
            date  store_nbr  transactions
9     2013-01-02          9          2940
55    2013-01-03          9          2396
101   2013-01-04          9          1975
147   2013-01-05          9          2604
193   2013-01-06          9          2635
...          ...        ...           ...
83226 2017-08-11          9          1848
83280 2017-08-12          9          1920
83334 2017-08-13          9          1745
83388 2017-08-14          9          1971
83442 2017-08-15          9          2155

[1676 rows x 3 columns]
            date  store_nbr  transactions
10    2013-01-02         10          1293
56    2013-01-03         10          1157
102   2013-01-04         10           970
148   2013-01-05         10          1269
194   2013-01-06         10          1173
...          ...        ...           ...
83227 2017-08-11         10           728
83281 2017-08-12         10           953
83335 2017-08-13         10           810
83389 2017-08-14         10           875
83443 2017-08-15         10          1010

[1675 rows x 3 columns]
            date  store_nbr  transactions
11    2013-01-02         11          3547
57    2013-01-03         11          2675
103   2013-01-04         11          2515
149   2013-01-05         11          3052
195   2013-01-06         11          3188
...          ...        ...           ...
83228 2017-08-11         11          2254
83282 2017-08-12         11          2230
83336 2017-08-13         11          2101
83390 2017-08-14         11          2203
83444 2017-08-15         11          2360

[1676 rows x 3 columns]
            date  store_nbr  transactions
12    2013-01-02         12          1362
58    2013-01-03         12          1248
104   2013-01-04         12          1064
150   2013-01-05         12          1293
196   2013-01-06         12          1271
...          ...        ...           ...
83229 2017-08-11         12          1057
83283 2017-08-12         12          1103
83337 2017-08-13         12          1066
83391 2017-08-14         12          1061
83445 2017-08-15         12          1096

[1616 rows x 3 columns]
            date  store_nbr  transactions
13    2013-01-02         13          1102
59    2013-01-03         13           916
105   2013-01-04         13           879
151   2013-01-05         13          1336
197   2013-01-06         13          1008
...          ...        ...           ...
83230 2017-08-11         13           841
83284 2017-08-12         13          1023
83338 2017-08-13         13           769
83392 2017-08-14         13           835
83446 2017-08-15         13           842

[1676 rows x 3 columns]
            date  store_nbr  transactions
14    2013-01-02         14          2002
60    2013-01-03         14          1823
106   2013-01-04         14          1641
152   2013-01-05         14          2052
198   2013-01-06         14          1313
...          ...        ...           ...
83231 2017-08-11         14          1072
83285 2017-08-12         14          1359
83339 2017-08-13         14           803
83393 2017-08-14         14          1293
83447 2017-08-15         14          1241

[1638 rows x 3 columns]
            date  store_nbr  transactions
15    2013-01-02         15          1622
61    2013-01-03         15          1512
107   2013-01-04         15          1318
153   2013-01-05         15          1543
199   2013-01-06         15          1149
...          ...        ...           ...
83232 2017-08-11         15          1074
83286 2017-08-12         15          1161
83340 2017-08-13         15           892
83394 2017-08-14         15          1431
83448 2017-08-15         15          1320

[1676 rows x 3 columns]
            date  store_nbr  transactions
16    2013-01-02         16          1167
62    2013-01-03         16          1101
108   2013-01-04         16           977
154   2013-01-05         16          1109
200   2013-01-06         16          1323
...          ...        ...           ...
83233 2017-08-11         16           736
83287 2017-08-12         16           717
83341 2017-08-13         16           727
83395 2017-08-14         16           667
83449 2017-08-15         16           742

[1677 rows x 3 columns]
            date  store_nbr  transactions
17    2013-01-02         17          1580
63    2013-01-03         17          1339
109   2013-01-04         17          1139
155   2013-01-05         17          1433
201   2013-01-06         17          1383
...          ...        ...           ...
83234 2017-08-11         17          1524
83288 2017-08-12         17          1547
83342 2017-08-13         17          1563
83396 2017-08-14         17          1323
83450 2017-08-15         17          1504

[1674 rows x 3 columns]
            date  store_nbr  transactions
18    2013-01-02         18          1635
64    2013-01-03         18          1484
110   2013-01-04         18          1238
156   2013-01-05         18          1323
202   2013-01-06         18          1405
...          ...        ...           ...
83235 2017-08-11         18           930
83289 2017-08-12         18           990
83343 2017-08-13         18          1075
83397 2017-08-14         18          1201
83451 2017-08-15         18          1343

[1566 rows x 3 columns]
            date  store_nbr  transactions
19    2013-01-02         19          1369
65    2013-01-03         19          1098
111   2013-01-04         19          1003
157   2013-01-05         19          1713
203   2013-01-06         19          1157
...          ...        ...           ...
83236 2017-08-11         19          1158
83290 2017-08-12         19          1578
83344 2017-08-13         19           931
83398 2017-08-14         19          1173
83452 2017-08-15         19          1158

[1676 rows x 3 columns]
            date  store_nbr  transactions
36082 2015-02-13         20          4500
36131 2015-02-14         20          3698
36180 2015-02-15         20          3181
36229 2015-02-16         20          2915
36278 2015-02-17         20          2826
...          ...        ...           ...
83237 2017-08-11         20          1751
83291 2017-08-12         20          1664
83345 2017-08-13         20          1834
83399 2017-08-14         20          1522
83453 2017-08-15         20          1516

[909 rows x 3 columns]
            date  store_nbr  transactions
44037 2015-07-24         21          3220
44088 2015-07-25         21          3109
44139 2015-07-26         21          3354
44190 2015-07-27         21          2143
44241 2015-07-28         21          2045
...          ...        ...           ...
83238 2017-08-11         21          1165
83292 2017-08-12         21          1119
83346 2017-08-13         21          1403
83400 2017-08-14         21          1045
83454 2017-08-15         21          1059

[748 rows x 3 columns]
            date  store_nbr  transactions
48014 2015-10-09         22          2412
48067 2015-10-10         22          2008
48120 2015-10-11         22          1725
48173 2015-10-12         22          1559
48226 2015-10-13         22          1312
...          ...        ...           ...
83239 2017-08-11         22           701
83293 2017-08-12         22           888
83347 2017-08-13         22           701
83401 2017-08-14         22           794
83455 2017-08-15         22           766

[671 rows x 3 columns]
            date  store_nbr  transactions
20    2013-01-02         23          1381
66    2013-01-03         23          1181
112   2013-01-04         23          1257
158   2013-01-05         23          1250
204   2013-01-06         23          1100
...          ...        ...           ...
83240 2017-08-11         23           955
83294 2017-08-12         23           844
83348 2017-08-13         23           824
83402 2017-08-14         23           974
83456 2017-08-15         23           946

[1677 rows x 3 columns]
            date  store_nbr  transactions
21    2013-01-02         24          2605
67    2013-01-03         24          2462
113   2013-01-04         24          2607
159   2013-01-05         24          2578
205   2013-01-06         24          2061
...          ...        ...           ...
83241 2017-08-11         24          2008
83295 2017-08-12         24          1943
83349 2017-08-13         24          1520
83403 2017-08-14         24          2092
83457 2017-08-15         24          2138

[1577 rows x 3 columns]
            date  store_nbr  transactions
0     2013-01-01         25           770
22    2013-01-02         25          1038
68    2013-01-03         25           887
114   2013-01-04         25          1054
160   2013-01-05         25          1355
...          ...        ...           ...
83242 2017-08-11         25          2195
83296 2017-08-12         25          1946
83350 2017-08-13         25          1107
83404 2017-08-14         25           935
83458 2017-08-15         25           849

[1615 rows x 3 columns]
            date  store_nbr  transactions
23    2013-01-02         26          1008
69    2013-01-03         26           813
115   2013-01-04         26           813
161   2013-01-05         26          1081
207   2013-01-06         26          1075
...          ...        ...           ...
83243 2017-08-11         26           542
83297 2017-08-12         26           507
83351 2017-08-13         26           472
83405 2017-08-14         26           479
83459 2017-08-15         26           534

[1678 rows x 3 columns]
            date  store_nbr  transactions
24    2013-01-02         27          1386
70    2013-01-03         27           928
116   2013-01-04         27          1034
162   2013-01-05         27          1327
208   2013-01-06         27          1614
...          ...        ...           ...
83244 2017-08-11         27          1936
83298 2017-08-12         27          1773
83352 2017-08-13         27          1804
83406 2017-08-14         27          1576
83460 2017-08-15         27          1543

[1677 rows x 3 columns]
            date  store_nbr  transactions
25    2013-01-02         28           950
71    2013-01-03         28           749
117   2013-01-04         28           651
163   2013-01-05         28          1033
209   2013-01-06         28          1207
...          ...        ...           ...
83245 2017-08-11         28          1390
83299 2017-08-12         28          1284
83353 2017-08-13         28          1504
83407 2017-08-14         28          1064
83461 2017-08-15         28          1343

[1677 rows x 3 columns]
            date  store_nbr  transactions
37804 2015-03-20         29          2599
37854 2015-03-21         29          2242
37904 2015-03-22         29          2236
37954 2015-03-23         29          1426
38004 2015-03-24         29          1525
...          ...        ...           ...
83246 2017-08-11         29          1199
83300 2017-08-12         29          1196
83354 2017-08-13         29          1298
83408 2017-08-14         29          1031
83462 2017-08-15         29          1302

[874 rows x 3 columns]
            date  store_nbr  transactions
26    2013-01-02         30           708
72    2013-01-03         30           689
118   2013-01-04         30           689
164   2013-01-05         30           749
210   2013-01-06         30           667
...          ...        ...           ...
83247 2017-08-11         30           640
83301 2017-08-12         30           636
83355 2017-08-13         30           673
83409 2017-08-14         30           683
83463 2017-08-15         30           825

[1655 rows x 3 columns]
            date  store_nbr  transactions
27    2013-01-02         31          1401
73    2013-01-03         31          1126
119   2013-01-04         31          1246
165   2013-01-05         31          1317
211   2013-01-06         31          1468
...          ...        ...           ...
83248 2017-08-11         31          1240
83302 2017-08-12         31          1353
83356 2017-08-13         31          1467
83410 2017-08-14         31          1308
83464 2017-08-15         31          1360

[1678 rows x 3 columns]
            date  store_nbr  transactions
28    2013-01-02         32           776
74    2013-01-03         32           727
120   2013-01-04         32           680
166   2013-01-05         32           890
212   2013-01-06         32           772
...          ...        ...           ...
83249 2017-08-11         32           567
83303 2017-08-12         32           649
83357 2017-08-13         32           577
83411 2017-08-14         32           576
83465 2017-08-15         32           615

[1677 rows x 3 columns]
            date  store_nbr  transactions
29    2013-01-02         33          1163
75    2013-01-03         33          1168
121   2013-01-04         33           948
167   2013-01-05         33          1217
213   2013-01-06         33          1302
...          ...        ...           ...
83250 2017-08-11         33           810
83304 2017-08-12         33           892
83358 2017-08-13         33           867
83412 2017-08-14         33           895
83466 2017-08-15         33           919

[1678 rows x 3 columns]
            date  store_nbr  transactions
30    2013-01-02         34          2724
76    2013-01-03         34          2348
122   2013-01-04         34          2369
168   2013-01-05         34          2599
214   2013-01-06         34          2377
...          ...        ...           ...
83251 2017-08-11         34          2256
83305 2017-08-12         34          2026
83359 2017-08-13         34          2081
83413 2017-08-14         34          2145
83467 2017-08-15         34          2007

[1678 rows x 3 columns]
            date  store_nbr  transactions
31    2013-01-02         35           786
77    2013-01-03         35           725
123   2013-01-04         35           630
169   2013-01-05         35           723
215   2013-01-06         35           651
...          ...        ...           ...
83252 2017-08-11         35           847
83306 2017-08-12         35           842
83360 2017-08-13         35           658
83414 2017-08-14         35           594
83468 2017-08-15         35           612

[1676 rows x 3 columns]
            date  store_nbr  transactions
5874  2013-05-09         36          2586
5921  2013-05-10         36          1744
5968  2013-05-11         36          2015
6015  2013-05-12         36          2388
6062  2013-05-13         36          1365
...          ...        ...           ...
83253 2017-08-11         36          1252
83307 2017-08-12         36          1135
83361 2017-08-13         36          1159
83415 2017-08-14         36           995
83469 2017-08-15         36          1192

[1551 rows x 3 columns]
            date  store_nbr  transactions
32    2013-01-02         37          1691
78    2013-01-03         37          1526
124   2013-01-04         37          1701
170   2013-01-05         37          1770
216   2013-01-06         37          1282
...          ...        ...           ...
83254 2017-08-11         37          1122
83308 2017-08-12         37          1182
83362 2017-08-13         37           888
83416 2017-08-14         37          1388
83470 2017-08-15         37          1373

[1678 rows x 3 columns]
            date  store_nbr  transactions
33    2013-01-02         38          1987
79    2013-01-03         38          1746
125   2013-01-04         38          1723
171   2013-01-05         38          2214
217   2013-01-06         38          2522
...          ...        ...           ...
83255 2017-08-11         38          1577
83309 2017-08-12         38          1711
83363 2017-08-13         38          1544

In [32]:
one_hot = pd.get_dummies(transactions["store_nbr"])

In [33]:
# transactions = transactions.drop("store_nbr",axis=1)
transactions = transactions.drop("date",axis=1)
# transactions = transactions.join(one_hot)
transactions

     transactions
1            2111
47           1833
93           1863
139          1509
185           520

,transactions,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54
1,2111,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47,1833,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
93,1863,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
139,1509,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
185,520,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83271,768,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
83325,903,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
83379,1054,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
83433,818,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
83487,802,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [35]:
transactions

,transactions,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54
1,2111,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47,1833,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
93,1863,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
139,1509,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
185,520,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83271,768,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
83325,903,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
83379,1054,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
83433,818,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
83487,802,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [36]:
from catboost import CatBoostRegressor, Pool

In [37]:
train_pool = Pool(transactions,label="transactions",cat_features=["store_nbr"])
test_pool = Pool()

FileNotFoundError: [Errno 2] No such file or directory: 'oil.csv'